.bm--hidden {
  display: none;
}

.bm--show {
  display: block;
}

.bm--no-padding {
  padding: 0;
}

#bm__btn--delete {
  background-color: #b50f00;
  color: white;
}

.bm--disabled {
  cursor:not-allowed;
}