/* Ensures buttons in action-buttons do not shrink */
.action-buttons button {
	min-width: max-content;
	white-space: nowrap;
}

/* Bulk Menu css */
.bm__btn {
	border: 0.125em outset black;
}

.bm__directory-view-data {
	border: 1px outset gray;
}

.bm__search-area {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	margin-top: 1em;
	padding-inline: 1em;
}

.bm__selector-area {
	display: flex;
	gap: 0.125em;
}

.bm__directory-view {
	height: 37.5em;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 0.25em;
	border: none;
	padding-inline: 0;
}

/** Bulk Menu Items */
.bm__ul,
.bm__li {
	all: unset;
}

.bm__directory__folder {
	display: grid;
	align-items: center;
	grid-template-columns: 2em 1fr;
}

.bm__directory__entity {
	display: grid;
	align-items: center;
	padding-left: 2em;
	grid-template-columns: 2em 1fr;
}

.bm__btn--collapsible {
	all: unset;
	width: 100%;
	cursor: pointer;
	text-align: left;
	outline: none;
	font-size: 1.05rem;
	padding: 0.25em 0.25em 0em 0.25em;
	border-bottom: 0.15em solid gray;
	margin-bottom: 0.25em;
	font-weight: bold;
}

.bm__btn--collapsible:hover,
.bm__btn--collapsible:focus {
	box-shadow: none;
}

.bm__directory__folder-content {
	padding-top: 0.55rem;
	padding-bottom: 0.75rem;
	display: none;
}

/** Footer Styles*/
.bm__footer__delete-export {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
	margin-top: 0.25em;
}

#bm__btn--delete {
	background-color: #b50f00;
	color: white;
}

.bm--hidden {
	display: none;
}

.bm--show {
	display: block;
}

.bm--no-padding {
	padding: 0;
}

/* Move Menu Css */
.bmove-choices {
	min-height: 200px;
	max-height: 400px;
	overflow-y: scroll;
	margin-bottom: 0.25em;
}

.bmove-destination {
	margin-bottom: 0.5em;
}

.bulk-move-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
